<header>
    <div class="logo">
        <a href="{{ get_url(path='@/_index.md') }}">ROBODIN</a>
    </div>
    <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <nav class="nav-links">
        <a href="{{ get_url(path='@/_index.md') }}">Home</a>
        <a href="{{ get_url(path='@/projetos/_index.md') }}">Projetos</a>
        <a href="{{ get_url(path='@/eventos/_index.md') }}">Eventos</a>
        <a href="{{ get_url(path='@/quem/_index.md') }}">Quem somos nós</a>
    </nav>
</header>