* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #295351;
    display: flex;
    flex-direction: column;
}

.image {
    width: 1033px;
    height: 516px;
    object-fit: cover;
    border: solid;
    border-width: 46px 97.5px;
    border-color: #D9894A;
    border-radius: 21px;;
    background-position-x: -130px;

}

.presentation-content {
    /* width: 100vw;
    height: 100vh; */
    background-image: url("../Midia/background_cor.png");
    object-fit: cover;
    background-position: center;
}

.texto {
    color: #fff;
    text-align: justify;
    font-family: Montserrat;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}