header {
    background-color: var(--verde-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header a {
    text-decoration: none;
}

.logo a {
    color: var(--branco);
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: var(--laranja-principal);
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--branco);
}

/* ============================= */
/* HEADER RESPONSIVO */
/* ============================= */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    .logo a {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 12px;
        align-items: center;
        width: 100%;
    }

    .nav-links a {
        font-size: 1rem;
    }
}