/*-------------------------------------------*/
/* BACKGROUND + HERO - Textos       */
/*-------------------------------------------*/

.firstBackground{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url(../Midia/background_cor.png);
    background-size: cover;
    max-height: 100vh;
    background-attachment: fixed; /* Efeito de deixar fixada a imagem enquanto scrolla */
}

.inicio{
    position: relative;
    width: 100%;
    padding: 100px;
    margin-top: 5%;
}

.inicio .textBox{
    position: relative;
    max-width: 600px;
}

.inicio .textBox .title{
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
}

.inicio .textBox .title h2{
    font-size: 130px;
    font-weight: 700;
    color: var(--branco);
}

span{
    color: var(--laranja-principal);
}

.inicio .textBox .title .robodin{
    max-width: 80px;
}

.inicio .textBox p{
    font-size: 22px;
    color: var(--branco);
    margin-bottom: 5px;
}

/*-------------------------------------------*/
/*          BACKGROUND + HERO - Botões       */
/*-------------------------------------------*/

.inicio .buttons{
    position: relative;
    display: flex;
    gap: 20px; 
    margin-top: 20px;
}

.inicio .buttons a, 
.inicio .buttons button{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    border: 3px solid transparent;
}

.inicio .buttons .contate-nos{
    color: var(--branco);
    background: transparent;
    border-color: var(--branco);
}

.inicio .buttons .contate-nos:hover{
    background: var(--branco);
    color: var(--verde-primario);
}

.inicio .buttons .saibaMais{
    background-color: var(--laranja-principal);
    color: var(--branco);
    border-color: var(--laranja-principal);
}

.inicio .buttons .saibaMais:hover{
    color: var(--laranja-principal);
    background: transparent;
}

/*-------------------------------------------*/
/*            SECÇÃO CARDS - GERAL           */
/*-------------------------------------------*/

.cards-section{
    display: block;
}

.titulo{
    display: flex;
}

.vazio, .botao{
    flex: 1;
}

.vazio{
    display: flex;
    justify-content: left;
}

.cards-section .text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-section .text h2{
    flex: 2;
    font-weight: 600;
    font-size: 50px;
}

.cards-section .botao{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cards-section .botao button{
    margin-right: 50px;
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    background-color: var(--laranja-principal);
    color: var(--branco);
    font-size: 20px;
}

.cards-section .botao button:hover{
    background: none;
    border: 3px solid var(--laranja-principal);
    color: var(--laranja-principal);
}

/*-------------------------------------------*/
/*           SECÇÃO CARDS - TOPICOS + DATA          */
/*-------------------------------------------*/

.card-item .info .data{
    justify-self: start;
}

.card-item .info .topico{
    justify-self: end;
    padding: 4px 16px;
    margin: 8px 0px 14px;
    font-weight: 500;
    border-radius: 50px;
    width: fit-content;
    color: var(--branco);
    background: var(--laranja-principal);
    
}

/*-------------------------------------------*/
/*           SECÇÃO CARDS - EVENTOS          */
/*-------------------------------------------*/

.conteudo{
    display: flex;
}

.container{
    margin-top: 10px;
}

.card-wrapper{
    overflow: hidden;
}

.card-item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item a{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: 12px;
    color: #000000;
    height: 480px;
}

.card-item img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-item .textCard h3{
    margin-top: 10px;
    font-size: 25px;
}

.card-item .textCard .desc{
    font-weight: 300;
    margin-top: 10px;
    flex-grow: 1;
}

.card-item .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: auto;
}

.eventos .card-list .card-item .azul{
    background: var(--verde-primario);
}

.eventos .card-list .card-item .laranja{
    background: var(--laranja-principal);
}


/*-------------------------------------------*/
/* SECÇÃO CARDS - PROJETOS          */
/*-------------------------------------------*/

.projetos{
    padding: 30px;
}

.projetos .titulo{
    margin-bottom: 15px;
}

.projetos .cards{
    display: flex;
    width: 100%;
}

.projetos .cards a{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 392px;
    overflow: hidden;
    margin-bottom: 40px;
}

.projetos .cards ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.projetos .cards .card-item .textCard{
    height: 60px;
}

.projetos .cards .card-item .info{
    margin-top: 25px;
}

/*-------------------------------------------*/
/*              SECÇÃO SOBRE NÓS             */
/*-------------------------------------------*/

.sobreNos{
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 80px 50px;
    background-image: url(../Midia/background_cor.png);
    background-size: cover;
    background-attachment: fixed; /* Efeito de deixar fixada a imagem enquanto scrolla */
}

.sobreNos .text{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sobreNos .text .title{
    font-size: 60px;
    font-weight: 700;
    color: var(--branco);
    background: var(--verde-primario);
    padding: 10px;
}

.sobreNos .text .title h3{
    text-align: center;
}

.sobreNos .text .textInfo{
    margin-top: 5%;
    color: var(--branco);
    background: var(--verde-primario);
    padding: 20px;
    height: auto; 
}

.sobreNos .text .textInfo p{
    font-size: 1.5rem;
}

.sobreNos .foto{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreNos .foto img{
    width: 60%;
}

/*-------------------------------------------*/
/*      SECÇÃO MOTIVOS PARA PARTICIPAR       */
/*-------------------------------------------*/

.participar{
    min-height: 100vh;
    background-color: var(--verde-escuro);
    padding-bottom: 30px;
}

.participar .title h3{
    text-align: center;
    color: var(--branco);
    font-size: 60px;
    padding: 5px;
}

.motivos .robotivos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.motivos .robotivos img{
    width: 25%;
}

.motivos .motivos-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.motivos .motivos-card .motivo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--laranja-principal);
    width: 400px;
    height: 300px;
    margin: 10px;
    color: var(--branco);
    border-radius: 20px;
}

.motivos .motivos-card .motivo .numero{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    height: 30%;
}

.motivos .motivos-card .motivo .text{
    font-size: 20px;
    text-align: justify;
    padding: 25px;
    font-weight: 300;
    height: 70%;
}

/*-------------------------------------------*/
/*           CARD FINAL - Contato            */
/*-------------------------------------------*/

.cardFinal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cardFinal .cartao{
    width: 40%;
    background-color: var(--verde-primario);
    color: var(--branco);
    border-radius: 20px;
}

.cardFinal .cartao .title{
    text-align: center;
    margin-top: 25px;
    font-weight: 700;
    font-size: 40px;
}

.cardFinal .cartao .text{
    text-align: justify;
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.cardFinal .cartao .redes{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}

.cardFinal .cartao .redes div{
    width: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}