<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Home | Robodin
    {% endblock title %}
  </title>

  <link rel="icon" href="/Midia/icons/robodin.png" type="image/png">

  <link rel="stylesheet" href="{{ get_url(path='css/global.css') }}">
  <link rel="stylesheet" href="{{ get_url(path='css/header.css') }}">

  {% block extra_css %}{% endblock extra_css %}

</head>
<body>
    {% include "partials/header.html" %}

    <main>
        {% block content %}{% endblock content %}
    </main>

    {% include "partials/footer.html" %}
</body>
</html>