{% extends "base.html" %}

{% block title %}
    Projetos | Robodin
{% endblock title %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ get_url(path='css/projetos.css') }}">
{% endblock extra_css %}

{% block content %}
<section>
    <div class="title-container">
        <h1 class="title-badge">Projetos</h1>
    </div>
    
    <div class="grid-projetos">
        {% for page in section.pages %}
        <a href="{{ page.permalink }}" class="card">
            <img src="{{ page.extra.imagem }}" alt="{{ page.title }}">
            
            <div class="card-content">
                <h3 class="card-title">{{ page.title }}</h3>
                
                <div class="card-status">
                    <span class="status-badge">{{ page.extra.status }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock content %}