{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<section id="presentation">
    <div class="container">
        <div class="presentation-content">
            <h1>Quem Somos Nós?</h1>
            <div class="presentation-image">
                <img class ="image" src="../Midia/grupo_robodin.png">
            </div>
            <div class="presentation-text">
                <p class="p-div texto">
                    Somos uma equipe apaixonada por tecnologia, educação e inovação,
                    dedicada a promover o acesso ao conhecimento em robótica e programação.
                    Nossa missão é inspirar e capacitar a próxima geração de criadores,
                    desenvolvedores e inventores através de projetos práticos e experiências
                    educacionais transformadoras.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="journey">
    <div class="container">
        <div class="journey-content">
            <h2>Quem Somos Nós?</h2>
            <div class="journey-text texto">
                <p class="p-div">
                    Nossa jornada começou com um grupo de estudantes e profissionais que
                    identificaram a necessidade de aproximar a tecnologia da educação de forma
                    prática e acessível. Começamos com pequenos workshops e, através  de muito trabalho
                    e dedicação, crescemos para nos tornar uma referência  em capacitação tecnológica,
                    formando parcerias com instituições  educacionais e empresas do setor.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="values">
    <div class="container">
        <div class="values-Discipline">
            <p class="text-card texto">Disciplina</p>
            <div class="image-card">
                <img src="#">
            </div>
        </div>
        <div class="values-Resilience">
            <p class="text-card texto">Resiliência</p>
            <div class="image-card">
                <img src="#">
            </div>
        </div>
        <div class="values-Organization">
            <p class="text-card texto">Organização</p>
            <div class="image-card">
                <img src="#">
            </div>
        </div>
        <div class="values-Proactivity">
            <p class="text-card texto">Proatividade</p>
            <div class="image-card">
                <img src="#">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="vision-content">
            <h2>Para Onde Vamos</h2>
            <div class="vision-text">
                <p class="p-div texto">
                    Buscamos expandir nosso impacto, desenvolvendo novos programas de
                    capacitação, ampliando nossa rede de colaboradores e criando um
                    ecossistema inovador onde educação e tecnologia se encontram para
                    construir um futuro mais criativo e tecnologicamente avançado.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
