{% extends "base.html" %}

{% block title %}
    Eventos | Robodin
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{{ get_url(path='css/eventos.css') }}">
{% endblock extra_css %}

{% block content %}

<section class="hero">
    <h1>Nossas atividades</h1>
</section>

{% for page in section.pages %}
<section class="atividade-card {% if loop.index is even %}invertido{% endif %}">
    <div class="card-container">

        <div class="card-image">
            <img src="{{ get_url(path=page.extra.imagem | trim_start_matches(pat='/')) }}" alt="{{ page.title }}">
            <span class="status">{{ page.extra.status }}</span>
        </div>

        <div class="card-content">
            <h2>{{ page.title }}</h2>
            <p>{{ page.content | safe }}</p>
        </div>

    </div>
</section>
{% endfor %}

{% endblock content %}